#hed{
    text-align: center;
    background-color: lightblue;    
    }
#parag{
    margin:0px 50px; 
    padding: 10px;
    color:aquamarine;
    background-color: brown;
}    
#mylife{
    border: 2px solid ;
    display: inline-block;
    padding: 5px;
    


}
#w11{margin: 5px;
    
}
#di2{
    width: 300px;
    height: 180px;
    background-color: aquamarine;
    margin: 20px 3px;
    background-image:url("/image/download2.jpg");
    background-size: 50;

}